<header class="container text-center">
	<div class="row">
		<div class="small-10 small-centered medium-6 large-4 columns">
			{{ partial:logo }}		
		</div>
	</div>
	
	<hr class="hr__large"></hr>
	<div class="menu-centered">
		<ul class="menu">
			<li><a href="https://www.facebook.com/krznarstrength" target="_blank" title="visit Krznar on Facebook">{{ partial:facebook-svg}}</a></li>
			<li class="menu-text">|</li>
			<li><a href="https://www.instagram.com/anthonykrznar/" target="_blank" title="visit Krznar on Instagram">{{ partial:instagram-svg}}</a></li>
		</ul>
  	</div>

	<div class="menu-centered">
  		<ul class="menu">
			<li>Training</li>
			<li class="menu-text">|</li>
			<li>Programming</li>
			<li class="menu-text">|</li>
			<li>Coaching</li>
		</ul>
  	</div>

	
  	<div class="banner__text menu-centered">
  		<a class="banner__text--anchor" href="tel://0421-330-737">
			<h3 class="banner__text--primary"><span class="banner__text--thin">CALL TODAY</span><br>0421 330 737</h3>
		</a>
	</div>
	

</header>