<footer>
	<div class="row">
		<div class="small-4 column">
			<a class="footer__links--pllink" href="https://powerliftingaustralia.com/coach-accreditation-ncas/" target="_Blank" title="Powerlifting Australia">
				{{ partial:pl-svg}}
				<br>
				NCAS Accredited
			</a>
		</div>
		<div class="small-8 column">
			<ul class="menu align-right">
				<li><a href="#">Site Credits</a></li>
			  	<li><a href="mailto:name@example.com">Contact</a></li>
			  	<li class="menu-text hide-for-small-only">&copy; Krznar Strength Coaching 2016</li>
			</ul>
			<p class="show-for-small-only">&copy; Krznar Strength Coaching 2016</p>
		</div>
	</div>
</footer>