Your 1 Week Free Trial
===================
Hey {{ client_name }},

Thanks for requesting a one week free trial with Krznar Strength Coaching.

We'll be in touch with you soon to arrange a time to meet and commence your free trial. Keep an eye on your phone and emails so that we can help you get the most from your free trial.

Here is a record of what you've told us:

Your Name: {{ client_name }}
Your Contact Number: {{ client_contact_number }}
Your Email Address: {{ client_email }}
Your Main Goal: {{ client_goal }}

If you have any queries about your free trial you can contact me on 0421 330 737

Anthony Krazner
Chief Lifter - Krznar Strength