<div class="row collapse">
    <div class="small-12 medium-10 medium-centered large-8 column">
        <div class="orbit" role="region" aria-label="Krznar Strength Coaching" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
            <ul class="orbit-container">
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="{{root}}assets/img/slide-1.jpg" alt="Anthony Krznar preparing to lift">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="{{root}}assets/img/slide-2.jpg" alt="Krznar Strength clients at Renegade MMA">
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="{{root}}assets/img/slide-3.jpg" alt="Bastian at competition representing Krznar Strength">
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="container opening-text">
    <div class="row">
        <div class="small-12 medium-10 medium-centered large-8 columns">
            <section class="text__inset">
                {{ content }}
            </section>
        </div>
    </div>
</section>

<div class="row">
    <div class="small-12 medium-10 medium-centered large-8 columns">

        <div class="callout callout__form secondary">
            
            <div class="row">
                    <div class="small-12 columns">
                        <h2 class="callout__form--heading ">1 Week Trial</h2>
                        <hr class="hr__tiny">
                    </div>
            </div>

            <div class="row">
                <div class="small-12 medium-6 medium-push-6 columns">
                    <p>Leave your details in the space provided to claim your 1 week free trial. During your free trial you'll have the chance to:</p>
                    <ul>
                        <li>Experience a KRZNAR Strength training session with other like-minded people.</li>
                        <li>Receive a free consultation and discuss your previous experience with lifting and your goals.</li>
                        <li>Learn from Anthony Krznar, one of the best young lifers in the Australia.</li>
                    </ul>
                    <p>Make this year your year for positive change. Get stronger with the right coaching!</p>
                </div>
                <div class="small-12 medium-6 medium-pull-6 columns">
                    {{ partial:contact-form }} 
                </div>
            </div>

        </div>
    </div>
</div>
