<section class="site-credits row">
	<div class="small-12 column text-center">
		<div class="landing__service-overview">
			<h2 class="callout__form--heading ">Site Credits</h2>
			<p>The Krznar Strength website was designed by <a href="https://www.facebook.com/bryanjhickey" target="_blank" title="Bryan Hickey's Facebook Profile">Bryan Hickey</a> of <a href="http://happywidget.co" target="_blank" title=">Happy Widget Design">Happy Widget Design</a>.</p>
			<!-- <p>Photography photography.</p> -->
			<p>If you would like to get in touch with Bryan and discuss your next website, branding project, or photography project - send him an <a href="mailto:{{ obfuscate }}hello@happywidget.co{{ /obfuscate }}">email</a>.</p>
			<p>&nbsp;</p>
		</div>
	</div>
</section>