// Headings	
// Light			"proxima-nova"		300
// Semibold			"proxima-nova"		600
// Extrabold		"proxima-nova"	900
//
// Body Type
// Regular			"ff-tisa-web-pro"	400		normal	
// Regular Italic	"ff-tisa-web-pro"	400		italic	
// Bold				"ff-tisa-web-pro"	700		normal	
// Bold Italic		"ff-tisa-web-pro"	700		italic

.draft {
	background: red;
	top: 0;
	z-index: 200;
	width: 100%;
	position: fixed;
	opacity: 0.8;
	color: $white;
	padding: rem-calc(20) 0;
	text-align: center;
	p {
		line-height: 1;
		margin: 0;
		padding: 0
	}
	a {
		color: $white;
		border-color: $white;
		&:hover { border-color: $white; }
	}
}

h1, h2, h3, h4, h5 ,h6 { letter-spacing: 0.2em; }

 p {
 	a { 
 		border-bottom: dotted 1px $black;	
 		&:hover { border-bottom: solid 1px $black; }
 	}
 }

.input, input, textarea, select {
	font-family: "proxima-nova";
	font-weight: 300;
	font-style: normal;	
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: "proxima-nova";
	font-weight: 300;
	font-style: normal;
}
::-moz-placeholder { /* Firefox 19+ */
	font-family: "proxima-nova";
	font-weight: 300;
	font-style: normal;
}
:-ms-input-placeholder { /* IE 10+ */
	font-family: "proxima-nova";
	font-weight: 300;
	font-style: normal;
}
:-moz-placeholder { /* Firefox 18- */
	font-family: "proxima-nova";
	font-weight: 300;
	font-style: normal;
}

.svg-icon {
	width: rem-calc(30);
	height: auto;
	transition: all 2s ease-in-out;
}
.insta-svg, .fb-svg {
		fill: $black;
	&:hover {
		fill: #969696;
	}
}

.svg-icon-footer {
	width: rem-calc(60);
	height: auto;
}

.container {
	padding: rem-calc(80) 0;
	@include breakpoint(large) { padding: rem-calc(120) 0; }
}

.masthead__logo {}
.banner__text {
	margin-top: rem-calc(60);
	@include breakpoint(large) { margin-top: rem-calc(120); }
	background: $black;
	padding: rem-calc(30) 0;
	@include breakpoint(medium) { padding: rem-calc(60) 0; }
}
.banner__text--anchor {
	padding: 0;
	margin: 0;
	color: $white;
}
.banner__text--primary {
	padding: 0;
	margin: 0;
	line-height: rem-calc(32);
}
.banner__text--thin {
	font-weight: 300;
	font-size: rem-calc(20);
	letter-spacing: 0.1em;
}

.hr__large {
	width: 40%;
	margin-top: 0;
	padding: rem-calc(0) 0 rem-calc(60) 0;
	border-color: #222;
}
.hr__small {
	width: rem-calc(120);
	margin: auto;
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(60);
	padding: 0;
	border-color: #222;
}
.hr__tiny {
	width: 40%;
	padding: 0;
	margin: auto;
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(20);
	border-color: #222;
}

.text__inset {
	padding: rem-calc(60) rem-calc(10);	
	@include breakpoint(medium) { padding: rem-calc(80) rem-calc(30); }
}
.lead {
	padding: rem-calc(0);
	text-align: center;
}
.callout__form { margin-bottom: rem-calc(120); } 

.callout__form--heading {
	margin-top: rem-calc(30);
	font-family: 'proxima-nova';
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	font-size: rem-calc(22);
}
.callout__form--button {
	font-family: 'proxima-nova';
	font-weight: 600;
	background: #ebebeb;
	border: 1px solid $black;
	color: $black;
	&:hover {
		background: $black;
		border: 1px solid $black;
		color: $white;
	}
}

.orbit {
	@include breakpoint(medium) {
		margin-top: rem-calc(60);
	}
}
footer {
	padding: rem-calc(60) 0 rem-calc(120) 0;
	border-top: #222 solid 4px;
	background: #eee;
	font-size: rem-calc(14);
	.show-for-small-only {
		text-align: right;
		font-size: rem-calc(12);
	}
	.menu {
		font-weight: 300;
		.menu-text {
			text-align: right;
			@include breakpoint(small only) {
				padding-right: 0;
			}
		}
		li {
			text-align: right;
			a {
				border-bottom: 1px #eee solid;
				&:hover {
					border-bottom: 1px $black solid;
				}
			}
		}
		&:last-of-type {
			a {
				@include breakpoint(small only) {
				padding-right: 0;
			}
			}
		}
		

	}
	.footer__links--pllink {
		font-family: 'proxima-nova';
		display: block;
		text-align: center;
		font-size: rem-calc(12);
	}
}