<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
    <script src="https://use.typekit.net/lho0tse.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">

  </head>
  <body class="section-{{ segment_1 or "home" }}">

    {{ partial:draft }}

    {{ partial:masthead }}

    {{ template_content }}

    {{ partial:footer }}
    <script src="{{ theme:js }}"></script>
  </body>
</html>
